.aboutPage {
    min-height: calc(100vh - 80px);
    background: linear-gradient(#051b47, #041d4f);
    display: flex;
    flex-direction: column;
}

.aboutPage .aboutSection {
    color: white;
    padding: 30px;
    padding-top: 70px;
    /* padding-bottom: 80px; */
}

.aboutPage .aboutSection {
    background: linear-gradient(#051b47, #041d4f);
    padding-bottom: 30px;

}

.aboutPage .aboutSection.garuda {
    background-color: #006191;
    background: linear-gradient(#041d4f, #062668);
    /* border-top: 2px solid white; */

}

.aboutPage .aboutSection.thrsl {
    background: linear-gradient(#062668, #072d78);
    padding-bottom: 80px;
    /* border-top: 2px solid white; */


}

.aboutPage .aboutSection>h1 {
    text-align: center;
    margin-bottom: 35px;
}

.aboutPage .abContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.abLeft.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
    /* --animate-delay: 0s; */
}



.aboutPage .reverseFlex {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
    justify-content: center;
    padding: 60px 0px;

}

.aeroh1 {
    background: linear-gradient(to right, #00aeff00, #7cebc800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-stroke: 1.5px rgb(0, 0, 0);
    font-weight: 900;
    /* text-shadow:  */
    filter: drop-shadow(#ffffff59 0px 0px 5px);

}

.garudah1 {
    background: linear-gradient(#00aeff00, #00aeff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px #fff;
    text-stroke: 1.5px white;
    font-weight: 800;
    filter: drop-shadow(#ffffff59 0px 0px 5px);


}

.thrslh1 {
    background: linear-gradient(#00aeff00, #00aeff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    text-stroke: 1.5px white;
    /* font-weight: 700; */
    font-weight: 800;
    filter: drop-shadow(#ffffff59 0px 0px 5px);
}

.aboutPage .reverseFlex2 {
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    justify-content: center;
    padding-top: 60px;

}

.aboutPage .abContent.reverseFlex .abLeft {
    width: 45%;
}

.aboutPage .abContent.reverseFlex2 .abLeft {
    width: 45%;
}

.aboutPage .abContent .abLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    width: 55%;
    padding: 20px 0px;
    /* background-color: #03122f; */
}


.aboutPage .abContent .abRight {
    width: 40%;
    display: flex;
    align-items: flex-start;
    margin-top: -40px;
}

@keyframes logoShadow {
    0% {
        filter: drop-shadow(#ffffff77 0px 0px 20px);
        transform: scale(0.98);
        /* filter: blur(5px); */

    }

    50% {
        filter: drop-shadow(#e16405c5 0px 0px 50px);
        transform: scale(1);

    }

    100% {
        filter: drop-shadow(#ffffff77 0px 0px 20px);
        transform: scale(0.98);
        /* filter:; */

    }
}

.aboutPage .aboutSection>h1 {
    text-shadow: #0000004f 0px 0px 50px;
}

.aboutPage .teamImg {
    width: 90%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-left: 50px;
    outline: 3px solid white;
    outline-offset: 5px;
    border-radius: 3px;
}

.aboutPage .garudaImg {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    margin-left: 60px;
    /* outline: 3px solid white; */
    outline-offset: 5px;
    border-radius: 3px;
    animation: logoShadow 2s linear infinite;
}

.aboutPage .thrslImg {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    margin-left: 60px;
    /* outline: 3px solid white; */
    outline-offset: 5px;
    border-radius: 3px;
}

.abLeft p {
    width: 100%;
    padding: 0px 50px;
    /* font-size: 14px; */
}