.homePage .hero {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: white;
    background: linear-gradient(#051b47, #03122f);
}

.homePage .homeLeft {
    height: 100%;
    min-height: calc(100vh - 80px);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.homePage .homeLeftContent {
    height: 100%;
    min-height: calc(100vh - 80px);
    padding-top: 200px;
    width: 100%;
    display: flex;
    padding-left: 200px;
    flex-direction: column;
    /* align-items: ; */

}

.homePage .homeLeftContent h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: 'Montserrat', 'Poppins', 'Baloo Bhai 2', Arial;
}

.homePage .homeLeftContent h2 {
    font-size: 30px;
}

.homePage .homeLeftContent h3 {
    font-size: 50px;
    font-weight: 300;
    filter: drop-shadow(#00000039 0px 5px 10px);
    background-color: #00000000;
    font-family: 'Montserrat', 'Poppins', 'Baloo Bhai 2', Arial;

}



.homePage .homeRight {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;

}

@keyframes boxShadePlaneImg {
    0% {
        filter: drop-shadow(#26bfe174 0px 0px 60px);
        opacity: 0.8;
    }

    50% {
        filter: drop-shadow(#00d0ff8e 0px 0px 60px) contrast(105%) brightness(120%);
        opacity: 1;
    }

    100% {
        filter: drop-shadow(#26bfe174 0px 0px 60px);
        opacity: 0.8;

    }
}

.homePage .planeImage {
    background-color: #00000000;
    filter: drop-shadow(#26bfe174 0px 0px 60px);
    max-width: 500px;
    height: auto;
    /* animation:boxShadePlaneImg 1.4s linear infinite ; */

}


.homePage .gradientText {
    background: linear-gradient(to right, #00aeff, #7cebc8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-text-stroke:  #000; */
    filter: drop-shadow(#00000083 0px 5px 10px);

}

.cursorEffect {
    /* display: inline-block; */
    /* position: relative; */
    height: 30px;
    width: 0.4em;
    margin-right: 0.5em;
}

.cursor {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 8px;
    height: 40px;
    background-color: #ffffff;
    animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mapSection {
    display: flex;
    background: linear-gradient(#03122f, #03122f);
    justify-content: center;
    padding: 70px 0px;
    color: white;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: url("../components/college_image.jpg") center no-repeat;
    background-size: cover;
}

.mapSection h1 {
    margin-bottom: 50px;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 50%;
    opacity: 0.98;
    height: 420px;
}

.mapouter:hover {
    opacity: 1;

}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    border-radius: 10px;
    height: 420px;
}

.gmap_iframe {
    height: 420px !important;
}