.App {
  text-align: center;
}

.centeringdiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  /* background: linear-gradient(to bottom, #051b47, #051b47); */
  background-color: #000;

}

/* Style the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background-color: #ffffffda;
}

/* Hover state for the scrollbar thumb */
body::-webkit-scrollbar-thumb:hover {
  background-color: #72bbff;

}

/* Style the scrollbar corner (optional) */
body::-webkit-scrollbar-corner {
  background-color: transparent;
}